<% layout("./layouts/boilerplate.ejs") %>
<div class="container mt-5">
    <h1>Your Shortened URLs</h1>

    <% if (urls && urls.length > 0) { %>
    <table
        class="table table-bordered"
        style="table-layout: fixed; width: 100%"
    >
        <thead>
            <tr>
                <th>Long URL</th>
                <th>Short URL</th>
                <th>Actions</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <% urls.forEach(url => { %>
            <tr>
                <td>
                    <a href="<%= url.longUrl %>" target="_blank">
                        <%= url.longUrl %>
                    </a>
                </td>
                <td>
                    <a
                        href="/redirect/<%= encodeURIComponent( url.shortUrl) %>"
                        target="_blank"
                    >
                        <%=encodeURIComponent(url.shortUrl) %>
                    </a>
                </td>
                <td>
                    <form
                        action="/<%= encodeURIComponent(url.shortUrl) %>?_method=DELETE"
                        method="POST"
                    >
                        <input
                            type="hidden"
                            name="encodedShortUrl"
                            value="<%= encodeURIComponent(url.shortUrl) %>"
                        />
                        <button type="submit" class="btn btn-danger btn-sm">
                            Delete
                        </button>
                    </form>
                </td>
                <td>
                    <form
                        action="/details/<%= encodeURIComponent(url.shortUrl) %>"
                        method="GET"
                    >
                        <button type="submit" class="btn btn-primary btn-sm">
                            Details
                        </button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <p>
        To use the short URL, just click on the short URL in the table above or
        go to <b>"<%= BACKEND_URL %>/redirect/ + the short URL"</b>.
    </p>
    <% } else { %>
    <p>No shortened URLs available.</p>
    <% } %>
</div>
