<% layout("./layouts/boilerplate.ejs") %>
<div class="container mt-5">
    <h1>URL Details</h1>

    <% if (urlRecord) { %>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Long URL</th>
                <th>Short URL</th>
                <th>Hit Count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="<%= urlRecord.longUrl %>" target="_blank"
                        ><%= urlRecord.longUrl %></a
                    >
                </td>
                <td>
                    <a
                        href="http://localhost:8080/<%= urlRecord.shortUrl %>"
                        target="_blank"
                        ><%= urlRecord.shortUrl %></a
                    >
                </td>
                <td><%= urlRecord.hitCount %></td>
            </tr>
        </tbody>
    </table>
    <% } else { %>
    <p>No details found for this URL.</p>
    <% } %>

    <a href="/show" class="btn btn-primary">Back to Your URLs</a>
</div>
